
.location-style {
     display: flex;
    flex-direction: row;  
    margin-top: 20px;
    background-color: azure;    
}

.location-style h3, h4 {
    color: #067ca0;   
}

.location-style h4 {    
    margin-left: 5px;
}

.location-style ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px;
    list-style-type: none;
}

.location-style ul li {
    border: 1px solid #006483;
    padding: 5px;
    margin: 10px;
}

.location-style ul li h3 {
    color: red;
  }
@media (max-width: 768px) {
    /* Change to a single column layout for smaller screens */
    .location-style {
      flex-direction: column;
      align-items: center;
    }
    
    .location-style h3 {
      margin-right: 0; /* Remove right margin for city name */
      margin-bottom: 10px; /* Add bottom margin for spacing */
    }
  
    .location-style ul li {
      margin: 5px 0; /* Adjust margin for spacing */
    }
  }
  
  
  
  
  
  
  